                {{#eq data.totalPages 1}}
                {{else}}
                <nav aria-label="pagination-demo">
                  <ul class="pagination pagination- justify-content-center">
                    {{#if data.hasPrevPage}}
                    <li class="page-item"><a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="{{currentUrl}}page={{data.prevPage}}" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-xl border-0" href="javascript:void(0);" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a></li>
                    {{/if}}
                    {{#paginate data.page total=data.totalPages}}
                    {{#eq this @root.data.page}}
                    <li class="page-item active"><a class="page-link rounded-xs color-black bg-highlight shadow-l border-0" href="{{@root.currentUrl}}page={{this}}">{{this}}<span class="sr-only">(current)</span></a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link rounded-xs color-black bg-theme shadow-l border-0" href="{{@root.currentUrl}}page={{this}}">{{this}}</a></li>
                    {{/eq}}
                    {{/paginate}}
                    {{#if data.hasNextPage}}
                    <li class="page-item"><a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="{{currentUrl}}page={{data.nextPage}}"><i class="fa fa-angle-right"></i></a></li>
                    {{else}}
                    <li class="page-item"><a class="page-link rounded-xs color-black bg-transparent bg-theme shadow-l border-0" href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                    {{/if}}
                  </ul>
               </nav>
               {{/eq}}
                        